* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-image: linear-gradient(90deg, #89f7fe 0%, #66a6ff 100%);
  padding: 0 16px;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.rating-container {
  background-color: white;
  padding: 32px 80px;
  border-radius: 10px;
}
.rating-container i {
  font-size: 50px;
  cursor: pointer;
  color: rgb(195, 199, 204);
}

#title {
  text-align: center;
  margin-bottom: 32px;
  color: #3950a5;
}
.value {
  background-image: linear-gradient(90deg, #48c6ef 0%, #6f86d6 100%);
  padding: 4px 14px;
  text-align: center;
  color: aliceblue;
  font-weight: bold;
  margin-top: 40px;
  font-size: 32px;
}
.fa-star.hover {
  color: gold;
}
@media (max-width: 530px) {
  .rating-container {
    padding: 14px 20px;
  }
  #title {
    font-size: 24px;
  }
  .rating-container i {
    font-size: 32px;
  }
  .value {
    font-size: 22px;
  }
}
